/* font-family: "Montserrat", sans-serif; */
/* font-family: "Bilbo Swash Caps", cursive; */
/* font-family: "Roboto Slab", serif; */


html {
  max-width: 100%;
}

:root {
  --header-yellow: #fed136;
  --heading-black: #222222;
  --text-gray: #777777;
  --text-white: #ffffff;
  --placeholder-gray: #bbbbbb;
  --input-bg: #cccccc;
}

.container {
  width: 942px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  /* outline: 2px solid red; */
  align-items: center;
  /* justify-items: center; */
}